mixin video(videoInfo)
    div 
        h4  
            a(href=`/videos/${videoInfo.id}`) #{videoInfo.title}
        ul 
            li #{videoInfo.metaData.views}/5
            li #{videoInfo.comments}
            li posted #{videoInfo.creationDate}
            li #{videoInfo.views} views